<div class = "container">
  <div class = "row">
    <div class = "col text-center my-3">
      　<h1>詳細</h1>
    </div>
  </div>
  <div class = "row">
    <div class = "col text-center ">
      <% if @clothe.user_id == current_user.id %>
      　<%= link_to "削除", clothe_path(@clothe), class: "btn btn-outline-secondary", method: :delete %>
      <% end %>
    </div>
  </div>
  <div class = "row">
    <div class = "col-8 mx-auto">
      <table class = "table text-center my-5">
        <tr>
          <td><%= attachment_image_tag(@clothe, :clothes_image, :size =>'250x300', fallback: "no_image.jpg") %></td>
        </tr>
        <tr>
          <th>タイトル</th>
        </tr>
        <tr>
          <td><%= @clothe.title %></td>
        </tr>
        <tr>
          <th>ブランド名</th>
        </tr>
        <tr>
          <td><%= @clothe.brand %></td>
        </tr>
        <tr>
          <th>ジャンル</th>
        </tr>
        <tr>
          <td><%= @clothe.genre.name %></td>
        </tr>
        <tr>
          <th>説明</th>
        </tr>
        <tr>
          <td><%= @clothe.caption %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class = "row">
    <div class = "col text-center">
      <%= link_to "一覧に戻る", clothes_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
</div>